h1 {
    background-color: blue;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    text-shadow: 8px 8px 8px greenyellow;
    padding-left: 50px;
}

h1:hover{
    background-color: brown;
}

button{
    background-color: crimson;
    color: navajowhite;
    width: 100px;
    height: 30px;
    margin-left: 50px;
    border-radius: 20px;
}
img{
    width: 200px;
    height: 200px;
}
